{% extends 'base.html.twig' %}

{% block title %}Ajouter un film{% endblock %}

{% block body %}

<div class="container">
    <h2 class="row m-md-5 text-center">Formulaire pour ajouter un film ou une série</h2>
</div>

<div class="container">

    <div class="row">

        <div class="col-6">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <div class="col-lg-6">
            {# on vide le contenu du champ titre #}
                {{ form_row(form.title, {'value': ''}) }}

                <div class="d-inline-flex">
                    {% if movie is defined and movie is not null %}

                    {# on ne peut pas utiliser de tag <button> qui a une action submit() par défaut qui nous redirigerait vers la page du formulaire #}
                    <div class="pe-4"><a href="{{ path('save') }}"><span class="btn btn-primary">Enregistrer</span></a></div>
                    <div><a href="{{ path('add') }}"><span class="btn btn-danger">Annuler</span></a></div>

                    {% else %}

                    <div><a href="{{ path('add') }}"><button class="btn btn-primary">Rechercher</button></a></div>

                    {% endif %}
                
                </div>
            </div>

            {{ form_end(form) }}
        </div>

        {# si un film est transmis on l'affiche #}
        {% if movie is defined and movie is not null %}

            {{ include('home/show.html.twig') }}

        {% endif %}

    </div>
</div>

{% endblock %}
